header{
    display: flex;
    
    width: 100%;
    height: 95px;
    box-shadow: 0 4px 7px  gray;

}

*{
    margin: 0%;
}
.yourlogo{
    position: relative;
    left:9px;
    top: 11px;
    width: 229px;
    height: 75px;
}
.user_picture{
    position: relative;
    width: 60px;
    height: 60px;
}
.notify_picture{
    position: relative;
    width: 26;
    height: 31px;
}

nav{
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
} 

.userBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 95px;
    border-left: 2px solid #D8D8D8;  
}
.notifyBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 95px;
    height: 95px;
    border-left: 2px solid #D8D8D8;  
}
.searchBox{
    position: relative;
    display: flex;
    justify-content: center;

    align-items: center;
    height: 95px;
}
.searchBar{
    background: url(Search-Icon.png) center left no-repeat;
    background-size: 5%;
    background-position-x: 7px;
    position: relative;
    
    margin-right: 10%;
    width: 444px;
    height: 24px;

}

::placeholder{
    padding:30px ;
}
.left_side{
    position: relative;
    width:123px;
    height: 986px;
    background-color:#FFFFFF;
    border-right: 1px solid #E6E8F1;
    opacity: 100%;
    float: left;
}
.first{
    position: relative;
    left: 39px;
    top: 282.5px;
    width: 45px;
    height: 38.57px;
    border-right:5px solid #8954BA;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom:20px;
}
.second{
    position: absolute;
    left: 49px;
    top: 915px;
    height: 25px;
    width: 26px;
}
.right_side{
    position: relative;
    width: 100%;
    float: left;
}
.home1{
    position: relative;
    top:0;
    left: 0;
    display: flex;
    width: 400px;
    color: grey;
    top: 27.5px; 
    left: 43px;
    word-spacing: 2px;
}
main{
    display: flex;
    width: 100%;
}
.home_img{
    padding-right: 25px;
}

.f {
    margin-left: 10px;
}
.blocks{
    position: relative;
    top: 92.5px;
    left: 0px;
    width:100%;
    border-bottom: 2px solid #E6E8F1;
    font-size: 15px;
    color:#686868;
    padding-bottom: 14.5px;
}

.block1 {
    width: 700px;
    padding-left: 79px;
    height: 100%;
}

.m{
    margin-left: 110px;
}
.users{
    position: absolute;
    border-bottom: 5px solid #8954BA;
    padding-bottom: 9.5px;
    padding-left: 20px;
    padding-right: 20px;
}
.dut{
    position: absolute;
    left: 700px;
} 
#user{
    position: relative;
    top: 144px;
    left:43px;
    color:#686868;
}
.button{
    position: relative;
    left:950px;
    top: 144px;
    width: 140px;
    height: 42px;
    background-color: #5D38DB;
    color:white;
    border-radius: 4px;
    border-color: #5D38DB;
}
#icon{
    width: 21px;
    height: 16px;
    margin-right: 12px;
}